@import "tailwindcss";

:root {
  --app-font-sans: 'Inter', sans-serif;
}

@theme inline {
  --font-sans: var(--app-font-sans);
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #080a14;
  font-family: var(--app-font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}
